@use '~bootstrap/scss/bootstrap';

.container-fluid {
  margin-right: 40px;
  margin-left: 40px;
}

.post-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.post-box {
  margin-left: 20px;
}
